

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
#img           {display: block;
                 float:left;margin:90px ;
               }
  #yol{
        display: block;
        float:right;
        margin:108px;
      }
      p{text-align:center;margin:auto;}
  </style>
<body>
<img src="http://watsonsale.com/wp-content/themes/watsonsale/images/404img.png" alt="yoeli" class="img-responsive" id="img">
<div  id="yol">
<div>&nbsp;</div>
<div>&nbsp;</div>

<h1>You found Yoeli!</h1>
<div style="height:10px;"></div>
<h3>Unfortunately, not the page you were looking for.</h3>
&nbsp &nbsp
<h4>However Yoeli can take you back <a href="/">Home</a></h4>
</div>

</body>